extends ../common
block head
  +head('新增收货地址','./static/mui.picker.css','./static/mui.poppicker.css')
block content
  block script
    +js(['./static/mui.picker.js','./static/mui.poppicker.js','./static/city.data-3.js'])
  #app
