extends ../common
block head
  +head('资质设置','./static/mui.picker.css','./static/mui.poppicker.css','./static/mui.poppicker.css')
block content
  block js
    +js(['./static/mui.picker.js','./static/mui.poppicker.js'])
  #app


