@import "../../stylus/_mixin.styl"
.detail-header
  position fixed
  top 0
  left 0
  right 0
  z-index $z-index-navigation
  background-color $main-color
  .header-title
    display-flex()
    flex-align-item(flex-start)
    flex-justify-content(space-between)
    min-height .44rem
    color #fff
    padding .12rem $cell-left-right-space
    font-size .16rem
    .iconfont
      font-size .18rem
    .detail-title
      flex-flex(0,0,2.5rem)
  .header-sign
    position relative
    overflow auto
    color rgba(255,255,255,.8)
    font-size .12rem
    padding 0 .12rem .12rem
    line-height 1
    box-shadow 0 0.03rem 0.02rem rgba(0, 0, 0, 0.06)
    .fl
      span
        margin-right .1rem
  .detail-nav-bar
    background-color $main-color-x
    min-width 100%
    height .46rem
    display-flex()
    flex-justify-content(flex-start)
    overflow-x auto
    span
      height .46rem
      display inline-block
      font-size .14rem
      padding .14rem .12rem .12rem
      color rgba(255,255,255,.75)
      white-space nowrap
      position relative
      transition color .5s
      letter-spacing: -.005rem;
      &.active
        color #fff
        &::before
          position absolute
          content ''
          top 0.01rem
          left 0
          right 0
          height .02rem
          background-color $third-color
          border-radius .03rem
.mui-content
  padding 1.16rem 0 .44rem
  height 100vh
.content-table
  width 100%
  line-height .4rem
  color $text-color-light-x
  height 100%
  overflow-y auto
  .th
    width .9rem
    color #333
  tr
    border-bottom $border-default
    td
      border-right $border-default
      text-align center
      .time
        font-size .12rem
        text-align right
        line-height .22rem
        padding .07rem .12rem
      .orContent
        text-align left
        text-indent 2em
        line-height .22rem
        padding .12rem
    td:last-chid
      border-right none
      border-bottom none
footer
  position fixed
  bottom 0
  left 0
  right 0
  background #fff
  .btn-group
    height .48rem
    display-flex()
    flex-align-item(center)
    box-shadow 0 -.02rem .02rem rgba(0,0,0,.03)
    .btn-item,.btn-item a
      display-flex()
      flex-direction(column)
      flex-justify-content(center)
      flex-align-item(center)
      height 100%
      font-size .1rem
      line-height 1
      flex-flex(0,0,.7rem)
      color $text-color-light-xx
      .iconfont
        font-size .18rem
        margin-bottom .05rem
        &.active
          color $third-color
    .buy
      flex-flex(1)
      background-color $assist-color
      color #ffffff
      font-size .14rem
.buyType
  bottom .48rem
  height auto
  .popout
    position absolute
    bottom 0
    width 100%
    background #fff
    padding .12rem .12rem 0
    button
      width 100%
      border-radius $border-radius-x
      border $border-default
      padding .12rem 0
      margin-bottom .12rem
      &.active
        background-color $assist-color
        color #fff
.menu
  .popout
    position fixed
    right .12rem
    top .48rem
    width 1rem
    border-radius $border-radius-default
    background-color #fff
    padding .02rem 0
    .popout-arrow
      width 0.25rem
      height 0.25rem
      transform rotate(45deg)
      position absolute
      top -.06rem
      right .09rem
      background-color #fff
    .funitem
      position relative
      z-index 1
      text-align center
      display-flex()
      flex-align-item(center)
      flex-justify-content(center)
      border-bottom $border-default
      padding .05rem
      i
        margin-right .05rem
        font-size .14rem
.warn
  .popout
    height 80%
    top 10%
    width 80%
    left 10%
    position absolute
    border-radius $border-radius-default
    background-color #ffffff
    overflow hidden
    overflow-y auto
    padding-bottom .46rem
    .title
      padding $cell-left-right-space
      .iconfont
        float right
    .fixed-bottom-btn
      position absolute

