@import "../../stylus/_mixin.styl"
.box
  margin-top .12rem
  position relative
  textarea
    border none
    border-radius $border-default
    background $bg-color-x
    min-height 1.5rem
    padding .1rem
    margin 0
  .word-num
    position absolute
    bottom .1rem
    right .2rem
    color $text-color-light-xxx
.tip
  font-size .12rem
  color $text-color-light-xx
