@import "../../stylus/_mixin.styl"
.mui-content
  background $bg-color-x
.media-view
  background transparent
.media-content.flex
  display-flex()
  flex-align-item(center)
  flex-justify-content(space-between)
.media
  background #ffffff
  border none!important
  margin-top .1rem
.tip
  padding .05rem .12rem
  margin-bottom -.1rem
.icon-warning:before
  color $assist-color
.popout
  background: #fff;
  width: 3rem;
  margin: .8rem auto;
  border-radius: $border-radius-xx;
  text-align: center;
  padding: .12rem;
  .codeBox
    width 2.76rem
    height 2.74rem
    background-color $main-color-xx
    margin-bottom .12rem
  .description
    color $text-color-light-x
