@import "../../stylus/_mixin.styl"
.mui-content
  background $bg-color-x
.media-view
  background transparent
.media-content.flex
  display-flex()
  flex-align-item(center)
  flex-justify-content(space-between)
.media
  background #ffffff
  border none!important
  margin-top .1rem
.tip
  padding .05rem .12rem
  margin-bottom -.1rem

