@import "../../stylus/_mixin.styl"
.mui-content
  background-color #f4f4f4
  min-height 100vh
  padding .12rem
  .box
    position relative
    margin-top 1.2rem
    width 100%
    background #fff
    box-shadow $box-shadow-default
    border-radius $border-radius-x
    .logo
      display block
      width .8rem
      height .8rem
      margin 0 auto
      position relative
      box-shadow .04rem .04rem .08rem rgba(0,0,0,.24)
      top -.4rem
      overflow hidden
      border-radius $border-radius-xx
      img
        width 100%
