@import "../../stylus/_mixin.styl"
.mui-content
  background-color #fcfcfc
  min-height 100vh
  padding .12rem
  .box
    position relative
    margin-top 1rem
    width 100%
    background #fff
    box-shadow $box-shadow-default
    border-radius $border-radius-default
    .logo
      display block
      width .8rem
      height .8rem
      margin 0 auto
      position relative
      box-shadow .04rem .04rem .08rem rgba(0,0,0,.24)
      top -.4rem
      overflow hidden
      border-radius .15rem
      img
        width 100%
    .input-group
      .input-item
        position relative
        width 2.9rem
        height .5rem
        display-flex()
        flex-justify-content(space-between)
        flex-align-item(center)
        margin 0 auto .25rem
        i
          position relative
          z-index 2
          font-size .2rem
          padding-left .14rem
          color $text-color-light-xx
        .code
          color $fourth-color
          display inline-block
          position relative
          z-index 2
          padding .12rem
          width 1rem
          text-align center
          &:before
            content ''
            position absolute
            top .1rem
            bottom .1rem
            left 0
            width .01rem
            background-color $text-color-light-xxx
            opacity .5
          &.disabled
            color $text-color-light-xxx
        input,button
          position absolute
          left 0
          top 0
          width 100%
          height 100%
          z-index 1
          padding-left .42rem
          border-radius .25rem
          border $border-default
        input:focus
          border-color $main-color
        button
          border none
          background $btn-gradient-x
          color #ffffff
          padding 0
        &.other
          margin -.1rem auto 0
          height auto
    .login-third
      margin-top .5rem
      .title
        position relative
        text-align center
        width 100%
        color $text-color-light-xxx
        font-size .12rem
        &:after,&:before
          content ''
          position absolute
          background-color $text-color-light-xxx
          height .01rem
          opacity .5
          top .1rem
        &:after
          right 0
          left 2.3rem
        &:before
          left 0
          right 2.3rem
      .content
        display-flex()
        flex-align-item(center)
        flex-justify-content(space-around)
        padding .35rem .6rem
        .iconfont
          font-size .4rem
          line-height 1
    .tip
      text-align center
      color $text-color-light-xxx
      font-size .12rem
      padding-bottom .15rem
.icon-WECHAT
  color #1afa29
.icon-QQFRIENDS
  color #0ca7f8

