@import "../../stylus/_mixin.styl"
.mui-content
  background-color $bg-color-x
  .media
    border-bottom .1rem solid $bg-color-x!important
  .qualify-group
    .qualify-title
      margin-bottom .05rem
    .qualify-item
      font-size .12rem
      color $text-color-light-xx
.media-content.flex
  display-flex()
  flex-align-item(center)
  flex-justify-content(space-between)


