@import "../../stylus/_mixin.styl"
.detail-header
  position fixed
  top 0
  left 0
  right 0
  width 100%
  z-index $z-index-navigation
  background-color $main-color
  .header-title
    display-flex()
    flex-align-item(flex-start)
    flex-justify-content(space-between)
    min-height .44rem
    color #fff
    padding .12rem $cell-left-right-space
    font-size .16rem
    text-align center
    .iconfont
      font-size .18rem
    .detail-title
      flex-flex(0, 0, 2.5rem)
    .iconGroup
      .iconfont
        margin-left .12rem
  .header-sign
    position relative
    overflow auto
    color rgba(255, 255, 255, .8)
    font-size .12rem
    padding 0 .12rem .12rem
    line-height 1
    box-shadow 0 0.03rem 0.02rem rgba(0, 0, 0, 0.06)
    text-align center
    .fl
      span
        margin-right .1rem
  .detail-nav-bar
    background-color $main-color-x
    min-width 100%
    height .46rem
    display-flex()
    flex-justify-content(flex-start)
    overflow-x auto
    span
      height .46rem
      display inline-block
      font-size .14rem
      width 20%
      padding .14rem 0 .12rem
      color rgba(255, 255, 255, .75)
      white-space nowrap
      position relative
      transition color .5s
      letter-spacing: -.005rem;
      text-align center
      &.active
        color #fff
        &::before
          position absolute
          content ''
          top 0.01rem
          left 0
          right 0
          height .02rem
          background-color $third-color
          border-radius .03rem
.mui-content
  height 100vh
  padding-top .7rem
  .content-page
    position relative
    width 100vw
    height 100%
    overflow-y auto
    .scroll-wrapper
      height 100%
//中标信息///////////
.filter-wrapper
  overflow hidden
  .filter
    height .48rem
    float right
    display-flex()
    flex-align-item(center)
  .fl
    color $text-color-light-x
.proGroup
.pro-item
  width 100%
  border-radius .06rem
  box-shadow $box-shadow-default
  border $border-default
  padding 0 0 .07rem
  margin-bottom .12rem
  .pro-time
    display-flex()
    flex-align-item(center)
    color $text-color-light-xx
    font-size .12rem
    padding .07rem .1rem 0 .1rem
    .iconfont
      font-size .14rem
  .pro-content
    display-flex()
    flex-align-item(center)
    flex-justify-content(space-between)
    height .75rem
    .pro-main
      flex-flex(1)
      border-right $border-default
      .pro-name
        display-flex()
        flex-align-item(center)
        height .5rem
        padding 0 .1rem
      .pro-main-sign
        padding 0 .1rem
        width: 2.3rem
        .pro-style
          .iconfont
            font-size .16rem
        .pro-location
          color $text-color-light-x
          font-size .12rem
          margin-left .07rem
    .pro-assist
      display-flex()
      flex-direction(column)
      flex-align-item(center)
      flex-justify-content(center)
      flex-flex(0, 1.12rem)
      font-size .12rem
      padding 0 .05rem
      text-align center
      height 100%
      color $text-color-light-x
      div
        height 49%
        width 100%
        display-flex()
        flex-align-item(center)
        flex-justify-content(center)
      div:last-child
        border-top $border-default
      .pro-price
        span
          color $assist-color
  &.more
    .pro-time
      flex-justify-content(flex-end)
      padding .07rem .15rem 0
    .pro-assist
      flex-justify-content(flex-start)
      flex-flex(0 .8rem)
      padding 0 .15rem
      font-size .14rem
      .pro-style
        flex-align-item(baseline)
        flex-justify-content(flex-start)
        border none !important
        .iconfont
          font-size .16rem
    .pro-main
      border-right none
      .pro-name
        flex-align-item(flex-start)
        padding 0 .15rem 0 0
      .pro-main-sign
        padding 0 .15rem 0 0
        .pro-location
          margin-left 0

.bui-group
  .bui-item
    border-radius $border-radius-default
    border $border-default
    box-shadow $box-shadow-default
    padding .05rem .12rem
    margin-bottom .12rem
    color $text-color-light-xx
    font-size .12rem
    .bui-top
      display-flex()
      flex-align-item(baseline)
      .bui-name
        font-size .14rem
        color #333333
        font-weight 600
        margin-right .12rem
      .bui-id
        flex-flex(1)
    .bui-mid
      margin .03rem 0
      overflow auto
      span
        display inline-block
      .bui-sign
        background-color $main-color
        color #fff
        padding 0 .05rem
        border-radius $border-radius-x
      .fr
        span
          margin-left .15rem
    .bui-records
      overflow auto
      span
        font-size .1rem
        float left
        width .75rem
        display-inline-flex()
        flex-align-item(center)
        .iconfont.z
          color $third-color-x
        .iconfont.b
          color $fourth-color

