@import "_variable.styl"
.iconfont
  font-size: .16rem
//顶部状态栏////////////////////////////////////////////////////////////////////////
.header-full
  height .2rem
  background-color $main-color
  display none
//搜索的顶部栏///////////////////////////////////////////////////////////////////
.header-nav-search
  display-flex()
  flex-align-item(center)
  flex-justify-content(space-between)
  position fixed
  top 0
  left 0
  right 0
  z-index $z-index-navigation
  background $main-color
  height .44rem
  color #fff
  padding 0 $cell-left-right-space
  .iconfont
    font-size .18rem
  .search-input
    height .36rem
    background #fff
    border-radius .06rem
    overflow hidden
    display-flex()
    flex-align-item(center)
    .iconfont
      font-size .2rem
      color $text-color-light-xx
      padding 0 .2rem
    input
      border none
      color $text-color-light-x
  .search
    font-size .12rem
.header-nav-search~.mui-content
  padding-top .44rem
//背景颜色///////////////////////////////////////////////////
.bg-white
  background-color #ffffff
.bg-gary
  background-color #f4f4f4
//弹出层////////////////////////////////////////////////
.mask
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  width 100vw
  height 100vh
  background rgba(0,0,0,.3)
  z-index $z-index-mask
//字符颜色///////////////////////////////////////
.color-icon-SUPERVISION
  color #0E972F
.color-icon-design
  color #0E972F
.color-icon-INVESTIGATE
  color #0968BA
.color-icon-THECONSTRUCTIONOFTHE
  color #0968BA
.color-icon-INTEGRATION
  color #B5D750
.color-icon-OTHER
  color #00419A
.color-icon-OTHER
  color #00419A
.color-icon-ANSWERINGQUESTIONS
  color #106CB9
.color-icon-CHANGE
  color #26A444
.color-icon-clarify
  color #658F35
.color-icon-investigate_money
  color #D9BB0F
.color-icon-FLOWSTANDARD
  color #1E9CDE
.color-icon-THESCRAP
  color #D9B900
