@import "_variable.styl"
///////////////
i
  display-inline-flex()
  flex-align-item(center)
  flex-justify-content(center)
///////////////////////
.iconfont
  font-size: .16rem
//顶部状态栏////////////////////////////////////////////////////////////////////////
.header-full
  height .2rem
  background-color $main-color
  display none
//搜索的顶部栏///////////////////////////////////////////////////////////////////
header>i,header>span
  padding .12rem
  margin -.12rem
.header-nav-search
  display-flex()
  flex-align-item(center)
  flex-justify-content(space-between)
  position fixed
  top 0
  left 0
  right 0
  z-index $z-index-navigation
  background $main-color
  height .44rem
  color #fff
  padding 0 $cell-left-right-space
  .iconfont
    font-size .18rem
  .search-input
    position relative
    width 2.6rem
    height .36rem
    background #fff
    border-radius .06rem
    overflow hidden
    padding-right .45rem
    display-flex()
    flex-align-item(center)
    .iconfont
      font-size .2rem
      color $text-color-light-xx
      padding 0 .12rem
    input
      border none
      color $text-color-light-x
    .icon-shutdown
      position absolute
      right 0
      top 0
      line-height .35rem
  .search
    font-size .12rem
.header-nav-search~.mui-content
  padding-top .44rem
//常规二级页面头部/////////////////////////////////////////
.header-nav
  display-flex()
  flex-align-item(center)
  flex-justify-content(space-between)
  position fixed
  top 0
  left 0
  right 0
  z-index $z-index-navigation
  background $main-color
  height .44rem
  color #fff
  padding 0 $cell-left-right-space
  box-shadow $box-shadow-default
  .iconfont
    font-size .18rem
  .header-title
    left .4rem
    right .4rem
    position absolute
    font-size .16rem
    text-align center
.header-nav-search~.mui-content,.header-nav~.mui-content
  padding-top .44rem
  min-height 100vh
  height 100vh
  position relative
//背景颜色///////////////////////////////////////////////////
.bg-white
  background-color #ffffff!important
.bg-gary
  background-color $bg-color-x!important
//弹出层////////////////////////////////////////////////
.mask
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  width 100vw
  height 100vh
  background rgba(0,0,0,.3)
  z-index $z-index-mask
//颜色///////////////////////////////////////
.text-color-black
  color #333!important
//字符颜色///////////////////////////////////////
.color-icon-SUPERVISION
  color #0E972F
.color-icon-design
  color #0E972F
.color-icon-INVESTIGATE
  color #0968BA
.color-icon-THECONSTRUCTIONOFTHE
  color #0968BA
.color-icon-INTEGRATION
  color #B5D750
.color-icon-OTHER
  color #00419A
.color-icon-OTHER,.color-icon-zhaobiaofangan
  color #00419A
.color-icon-ANSWERINGQUESTIONS
  color #106CB9
.color-icon-CHANGE
  color #26A444
.color-icon-clarify,.color-icon-tubiao-
  color #658F35
.color-icon-investigate_money
  color #D9BB0F
.color-icon-FLOWSTANDARD
  color #1E9CDE
.color-icon-THESCRAP
  color #D9B900

.icon-selectss
  color $fourth-color
.iconfont-CIRCLE
  color $text-color-light-xx
//字体颜色///////////////////////////////////
.text-color-third
  color $third-color!important
.text-color-main
  color $main-color!important
/////公共功能列表/////////////
.media-view
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  background-color: #fff;
  position: relative;
  border-top $border-default
  .media
    overflow: hidden;
    -webkit-touch-callout: none;
    border-bottom $border-default
    .media-content
      font-size .14rem
      overflow auto
      padding: .11rem .12rem
      .media-lable
        float left
        color $text-color-light-xx
      .media-value
        float right
      &.media-column
        .media-lable
          float none
          margin-bottom .05rem
        .media-value
          float none
    .icon-right:before,.icon-down:before,.icon-Unfold:before
      font-size .16rem
      float right
      color $border-radius-xx
    .icon-right
      .media-value
        margin-right 0
  .media-more
    background-color $main-color-x
    color #fff
    margin-bottom .01rem
    .media-content
      .media-lable
        color #fff
    .media-alert
      .media-view
        border-top none
        color #333
        background-color #fff
        .media
          .media-lable
            color $text-color-light-xx
          .media-value
            color #333
          &:last-child
            border none
//空页面////////////////////////////////////////////////
.none
  width 100vw
  height 100vw
  display-flex()
  flex-direction(column)
  flex-align-item(center)
  flex-justify-content(center)
  color $text-color-light-xxx
  line-height 1
  .iconfont
    font-size 1.5rem
    margin-bottom .12rem
//公共按钮/////////////////////////////////////////
.fixed-bottom-btn
  position fixed
  bottom 0
  width 100%
  padding .12rem 0
  background-color $main-color
  color #ffffff
  border none
  border-radius 0
  font-size .16rem
  z-index $z-index-navigation
  text-align center
.mid-btn
  display block
  margin .5rem auto 0
  background $main-color
  line-height 1
  border none
  border-radius 0
  color #ffffff
  width 2.5rem
  height .5rem
  &.disabled
    background-color #f4f4f4
    color $text-color-light-xx
//更多菜单/////////////////////////////////
.menu
  .popout
    position fixed
    right .12rem
    top .48rem
    width 1rem
    border-radius $border-radius-default
    background-color #fff
    padding .02rem 0
    .popout-arrow
      width 0.25rem
      height 0.25rem
      transform rotate(45deg)
      position absolute
      top -.06rem
      right .09rem
      background-color #fff
    .funitem
      position relative
      z-index 1
      text-align center
      display-flex()
      flex-align-item(center)
      flex-justify-content(center)
      border-bottom $border-default
      padding .05rem
      i
        margin-right .05rem
        font-size .14rem
