@import "./_variable.styl"
.cell-row
	padding-left: $cell-left-right-space
	padding-right: $cell-left-right-space

.cell-height
	height: $cell-height
	line-height: $cell-height

.cell-padding
	padding-top: .1rem
	padding-bottom: .1rem
.cell-padding-s
	padding-top: .05rem
	padding-bottom: .05rem
