// 100* 100vw / 750
$root-font-size = 26.66666vw

$screen-width = 3.75rem
///////////////////////////////////////////
$border-radius-default = .06rem

$border-radius-x = .05rem

$border-radius-xx = .05rem

/////////////////////////////////////////////////////

$mask-color = rgba(0, 0, 0, .3)

$btn-gradient = linear-gradient(90deg, #fbe223, #fc915d)
//////////////////////////////////////////
$box-shadow-default = 0 0.03rem 0.04rem rgba(0, 0, 0, 0.06)
///////////////////////////////////////////////////////////////////////////////////////
$font-family = "PingFang SC", STHeitiSC-Light, Helvetica-Light, arial, sans-serif

$font-size-default = .14rem

$font-default = $font-size-default $font-family
////////////////////////////////////cell variable////////////////////////////////////////////////

$cell-height = 0.48rem

$cell-height-litter = .3rem

$cell-left-right-space = .12rem

$cell-content-width = $screen-width - 2 * $cell-left-right-space

/////////////////////////////////////color variable ///////////////////////////////////////////////////////
$main-color = #04a3ee

$assist-color = #d3122a

$success-color = #5dc2d0

$bg-color = #f5f5f5

$disable-color = #eee
//////////////////////////////////////////////////////////////////////////////////////////////////////

$border-color-default = rgba(0, 0, 0, 0.05)

$border-color-light = #aaa

$border-default = .01rem solid $border-color-default

/////////////////////////////////text variable/////////////////////////////////////////
$text-color-default = #333
$text-color-light-x = #666
$text-color-light-xx = #999
$text-color-light-xxx = #bbb

//////////////////////////////////////////////////////////////////////////////////////////
$z-index-content = 1
$z-index-navigation = 99
$z-index-mask = 999
$z-index-popout = 9999
