@import "../../stylus/_mixin.styl"
.search-box
  display-flex()
  flex-align-item(center)
  border $border-default
  border-radius $border-radius-x
  box-shadow $box-shadow-default
  overflow hidden
  padding .08rem .08rem
  .iconfont
    font-size .22rem
  .icon-shutdown
    font-size .18rem
    color $text-color-light-xx
  input
    flex-flex(1)
    padding 0 .08rem
    line-height .24rem
    border none
.search-wrapper
  padding-top .12rem
