@import "../../stylus/_mixin.styl"
.mui-content
  padding-bottom .46rem
.header-nav
  box-shadow none
.search-result
  background $btn-gradient
  color rgba(255, 255, 255, .8)
  font-size .1rem
  line-height .25rem
  text-align center
  padding 0 .12rem
  margin 0 -.24rem
.media-content
  display-flex()
  flex-align-item(center)
  flex-justify-content(space-between)
  .company-name
    display-flex()
    flex-align-item(center)
    flex-flex(1)
    overflow hidden
    margin-right .1rem
    .index
      display inline-block
      background $main-color
      font-size .12rem
      color #ffffff
      line-height 1
      margin-right .05rem
      padding .03rem .04rem
      border-radius $border-radius-x
