@import "../../stylus/_mixin.styl"
.mui-content
  padding-bottom .46rem
  width 100vw
  overflow hidden
.search-result
  background: $main-color;
  color: rgba(255,255,255,0.8);
  font-size: 0.1rem;
  line-height: 1;
  text-align: center;
  padding: 0.04rem 0.12rem;
  margin: 0.05rem -0.24rem 0;
.media-content
  display-flex()
  flex-align-item(center)
  flex-justify-content(space-between)
  .company-name
    display-flex()
    flex-align-item(center)
    flex-flex(1)
    overflow hidden
    margin-right .1rem
    .index
      display inline-block
      background $main-color
      font-size .12rem
      color #ffffff
      line-height 1
      margin-right .05rem
      padding .03rem .04rem
      border-radius $border-radius-x
.iconfont.icon-Rubbish
  padding .1rem
  margin -.1rem
