@import "../../stylus/_mixin.styl"
.media-view
  border-bottom .1rem solid $bg-color-x
  .media
    .media-content
      position relative
      .media-lable
        width 1rem
      .media-value
        float none
        input
          border none
        .user-head
          position absolute
          float right
          display inline-block
          width .37rem
          height .37rem
          overflow hidden
          border-radius 100%
          top .04rem
          right .34rem
          background-color $main-color
          img
            max-width 100%
          input
            position absolute
            width 100%
            height 100%
            left 0
            top 0
            opacity 0
.popout
  position relative
  height 100vh
  width 100vw
  .saveHead
    position fixed
    left 20%
    width 60%
    bottom .4rem
    background $main-color
    color #ffffff
    padding .1rem
    border none
    font-size .16rem
    border-radius $border-radius-xx
