@import "../../stylus/_mixin.styl"
.mui-content
  padding .5rem 0 0
  background-color $bg-color-x
  height 100vh
.logo
  width .7rem
  height .7rem
  overflow hidden
  margin 0 auto
  border-radius .05rem
  img
    width 100%
.version
  text-align center
  color $text-color-light-xx
  margin .1rem 0 .4rem
.conpany
  position fixed
  bottom 0
  padding .1rem 0
  left 0
  right 0
  text-align center
  font-size .12rem
  color #999
