@import "../../stylus/_mixin.styl"
.pro-group
  float left
  width 100vw
  height 100vh
  overflow hidden
  overflow-y auto
  .scroll-wrapper
    height 100%
    padding 0 .12rem
    position relative
    overflow hidden
    .scroll-box
      .search-wrapper
        padding .12rem 0 0
        .search-box
          position relative
          display-flex()
          flex-align-item(center)
          flex-justify-content(center)
          width 3.2rem
          height .35rem
          margin 0 auto .12rem
          box-shadow $box-shadow-default
          border $border-default
          border-radius $border-radius-default
          color $text-color-light-xx
          .iconfont
            position absolute
            color #333333
            right .3rem
      .search-result
        background: $main-color;
        color: rgba(255,255,255,0.8);
        font-size: 0.1rem;
        line-height: 1;
        text-align: center;
        padding: 0.04rem 0.12rem;
        margin: 0.05rem -0.24rem 0;
      .com-group
        padding-top .12rem
        .com-item
          border-radius $border-radius-default
          border $border-default
          padding .05rem .12rem
          margin-bottom .12rem
          .com-name
            font-weight 600
          .com-sign
            font-size .12rem
            color $text-color-light-xx
            span
              display inline-block
              min-width .6rem
          .com-records
            overflow auto
            span
              font-size .1rem
              float left
              width .75rem
              display-inline-flex()
              flex-align-item(center)
              .iconfont.z
                color $fourth-color
              .iconfont.b
                color $third-color-x
