@import "../../stylus/_mixin.styl"
.mui-bar
  display-flex()
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  height: .45rem;
  padding-right: 0;
  border-bottom: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0.03rem .01rem rgba(0,0,0,.12);
  box-shadow:  0 0.03rem .1rem rgba(0,0,0,.12);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
.mui-bar-tab
  .mui-tab-item
    display-flex()
    flex-direction(column)
    flex-justify-content(center)
    flex-align-item(center)
    flex: 1;
    overflow: hidden;
    width: auto;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #838383;
    .mui-icon
      height auto
      width auto
      top 0
      padding-bottom 0
      padding-top 0.05rem
      font-size .22rem
  .mui-tab-item.mui-active
    .mui-icon
      color $main-color
.mui-bar-tab
  .mui-tab-item
    .mui-icon~.mui-tab-label {
      font-size: 0.11rem;
      line-height: .14rem;
      padding-top: .02rem;
}
