extends ../common
block head
  +head('注册')
block content
  #app
block script
  script(type="text/javascript" src='http://api.map.baidu.com/api?v=2.0&ak=yp1x3lN5VDX79HI0TCITCnml2MHjlDfg')
  script(type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8")
