@import "../../stylus/_mixin.styl"
.detail-header
  position relative
  top 0
  left 0
  right 0
  z-index $z-index-navigation
  background-color $main-color
  .header-title
    display-flex()
    flex-align-item(flex-start)
    flex-justify-content(space-between)
    min-height .44rem
    color #fff
    padding .12rem $cell-left-right-space
    font-size .16rem
    text-align center
    .iconfont
      font-size .18rem
    .detail-title
      flex-flex(0,0,2.5rem)
  .header-sign
    position relative
    overflow auto
    color rgba(255,255,255,.8)
    font-size .12rem
    padding 0 .12rem .12rem
    line-height 1
    box-shadow 0 0.03rem 0.02rem rgba(0, 0, 0, 0.06)
    text-align center
    .fl
      span
        margin-right .1rem
  .detail-nav-bar
    background-color $main-color-x
    min-width 100%
    height .46rem
    display-flex()
    flex-justify-content(flex-start)
    overflow-x auto
    span
      height .46rem
      display inline-block
      font-size .14rem
      width 20%
      padding .14rem 0 .12rem
      color rgba(255,255,255,.75)
      white-space nowrap
      position relative
      transition color .5s
      letter-spacing: -.005rem;
      text-align center
      &.active
        color #fff
        &::before
          position absolute
          content ''
          top 0.01rem
          left 0
          right 0
          height .02rem
          background-color $third-color
          border-radius .03rem
.mui-content
  position relative
  .content-wrapper
    position absolute
    top 0
    width 100%
    height 100vh
    padding-top 1.16rem
    margin-top -1.16rem
    overflow hidden
    z-index $z-index-content
    .content-full-scroll
      width 500vw
      height 100%
      position relative
      overflow hidden
      left 0
      transition .3s left
      .content-page
        position relative
        float left
        width 100vw
        height 100%
        overflow-y auto
        .scroll-wrapper
          height 100%
          .media-value
            .com-records
              overflow auto
              span
                font-size .1rem
                float left
                display-inline-flex()
                flex-align-item(center)
                .iconfont
                  margin-left .12rem
                .iconfont.z
                  color $third-color-x
                .iconfont.b
                  color $fourth-color







