@import "../../stylus/_mixin.styl"
.header-nav
  box-shadow none
.mui-content
  height 100vh
  .hide-module
    position fixed
    top .44rem
    left 0
    right 0
    width 100%
    height .1rem
    background linear-gradient($main-color,$main-color,transparent)
    z-index $z-index-navigation
  .hide-bg
    height .3rem
    position fixed
    top .44rem
    left 0
    right 0
    width 100%
    background $main-color
    z-index 1
  .modoule-top
    position relative
    padding 0.1rem .3rem 0
    display-flex()
    flex-align-item(baseline)
    .user-head
      position relative
      z-index 2
      flex-flex(1)
      .iconfont
        font-size .7rem
        line-height .7rem
        background-color #fff
        color $text-color-light-xx
        box-shadow $box-shadow-default
        display-inline-flex()
    .user-sign
      position relative
      display inline-block
      background-color $main-color
      color #fff
      padding 0 .06rem
      border-radius $border-radius-xx
      margin-right .12rem
      z-index 2
    .user-share,.user-focus
      position relative
      display inline-block
      background-color $third-color
      color #fff
      width .45rem
      text-align center
      border-radius $border-radius-xx
      margin-left .12rem
      z-index 2
.base-msg
  margin-top .12rem
  width 100%
  border-radius .06rem
  box-shadow $box-shadow-default
  border $border-default
  padding .07rem
  margin-bottom .12rem
  color $text-color-light-xx
  .module2
    padding .1rem 0
    border-bottom $border-default
    .listTitle
      margin-bottom .07rem
  .module3
    padding .1rem 0 0
    overflow auto
    span
      font-size .1rem
      float left
      width .66rem
      display-inline-flex()
      flex-align-item(center)
      .iconfont.z
        color $third-color-x
      .iconfont.b
        color $fourth-color
.pro-item
  width 100%
  border-radius .06rem
  box-shadow $box-shadow-default
  border $border-default
  padding 0 0 .07rem
  margin-bottom .12rem
  .pro-time
    display-flex()
    flex-align-item(center)
    color $text-color-light-xx
    font-size .12rem
    padding .07rem .1rem 0 .1rem
    .iconfont
      font-size .14rem
  .pro-content
    display-flex()
    flex-align-item(center)
    flex-justify-content(space-between)
    height .75rem
    .pro-main
      flex-flex(1)
      border-right $border-default
      .pro-name
        display-flex()
        flex-align-item(center)
        height .5rem
        padding 0 .1rem
      .pro-main-sign
        padding 0 .1rem
        width: 2.3rem
        .pro-style
          .iconfont
            font-size .16rem
        .pro-company
          color $text-color-light-x
          font-size .12rem
    .pro-assist
      display-flex()
      flex-direction(column)
      flex-align-item(center)
      flex-justify-content(center)
      flex-flex(0,1.12rem)
      font-size .12rem
      padding 0 .05rem
      text-align center
      height 100%
      color $text-color-light-x
      div
        height 49%
        width 100%
        display-flex()
        flex-align-item(center)
        flex-justify-content(center)
      div:last-child
        border-top $border-default
      .pro-price
        span
          color $assist-color
